.bg-custom{
    background-color: #F85606;
    height: 100px;
    
}

.custom-nav-link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.aps{
    text-decoration: none;
    color: aliceblue;
    padding-left: 25px;

}
